@import "libs/bootstrap-reboot.min";
@import "libs/font";
@import "libs/slick";
@import "libs/animate";

@import "bases/variables";
* {
	font-family: 'Museo Sans Cyrl', sans-serif;
	}
.container {
	max-width: 980px;
	margin: 0 auto;
	padding: 0 15px;
}
@import "block/promo";
@import "block/header";
@import "block/buttons";
@import "block/benefits";
@import "block/title";
@import "block/consultation";
@import "block/forms";
@import "block/carousel";
@import "block/catalog";
@import "block/_comment";
@import "block/footer";
@import "block/modal";
@import "bases/media";
@import "bases/animation"