@media (max-width: 1050px) {
.footer{
	&__info {
		width: 340px;
		height: 250px;
		padding: 40px 68 40px 68px;
	}
	&__addr {
		margin-bottom: 30px;
	}
}
}
@media (max-width: 991.98px) {
	.footer{
		&__info {
			width: 250px;
			height: 179px;
			padding: 22px 25px 19px 25px;
		}
		&__addr {
			font-size: 18px;
		}
		&__phone {
			font-size: 18px;
			margin-bottom: 30px;
		}
		&__social-item {
			width: 40px;
			height: 40px;
			img {
				height: 21px;
			}
		}
	}
}
@media (max-width: 767px) {
	.header {
		&__logo {
			max-width: 200px;
		}
		&__official {
			font-size: 11px;
			span {
				font-size: 16px;
			}
		}
		&__contacts {
			a {
				font-size: 16px;
			}
		}
	}
	.promo {
		&__header {
			font-size: 37px;
		}
		&__subheader {
			font-size: 20px;
		}
	}
	.title {
		font-size: 28px;
	}
	.benefits {
		&__subtitle {
			font-size: 17px;
		}
		&__descr {
			font-size: 13px;
		}
}