@media (max-width: 1050px) {
.footer{
	&__info {
		width: 340px;
		height: 250px;
		padding: 40px 68 40px 68px;
	}
	&__addr {
		margin-bottom: 30px;
	}
}
}
@media (max-width: 991.98px) {
	.footer{
		&__info {
			width: 250px;
			height: 179px;
			padding: 22px 25px 19px 25px;
		}
		&__addr {
			font-size: 18px;
		}
		&__phone {
			font-size: 18px;
			margin-bottom: 30px;
		}
		&__social-item {
			width: 40px;
			height: 40px;
			img {
				height: 21px;
			}
		}
	}
}
@media (max-width: 767.98px) {
	.header {
		&__logo {
			max-width: 200px;
		}
		&__official {
			font-size: 11px;
			span {
				font-size: 16px;
			}
		}
		&__contacts {
			a {
				font-size: 16px;
			}
		}
	}
	.promo {
		&__header {
			font-size: 37px;
		}
		&__subheader {
			font-size: 20px;
		}
	}
	.title {
		font-size: 28px;
		&_left {
			font-size: 27px;
		}
	}
	.benefits {
		&__subtitle {
			font-size: 17px;
		}
		&__descr {
			font-size: 13px;
		}
	}
	.catalog {
		padding-bottom: 70px;
		&__tab {
			width: 200px;
			height: 43px;
			font-size: 15px;
		}
		&__content_active {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
	.comment {
		&__item {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		&__body {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-top: 20px;
			padding: 0;
		}
		&__dscr {
			text-align: center;
			padding: 0 25px 0 25px;
		}
	}
	.footer {
		height: 100%;
		&__map {
			iframe {
				height: 430px;
			}
		}
	}
}
@media (max-width: 551.98px) {
	.header {
		&__official {
			display: none;
		}
	}
	.promo {
		&__header {
			font-size: 30px;
		}
		&__subheader {
			font-size: 19px;
			margin: 3px 0 60px 0;
		}
	}
	.title {
		font-size: 25px;
		&_left {
			font-size: 21px;
		}
	}
	.benefits {
		&__wrapper {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			row-gap: 30px;
		}
		&__subtitle {
			margin-top: 25px;
		}
	}
	.consultation {
		&__desc {
			font-size: 16px;
			line-height: 1.5;
		}
	}
	.catalog {
		&__tabs {
			margin-top: 25px;
		}
		&__tab {
			width: 136px;
			height: 32px;
			font-size: 13px;
			line-height: 2.2;
			&_active {
				line-height: 2.3;
				font-size: 13px;
			}
		}
	}
}
@media (max-width: 425px) {
	.promo {
		&__wrapper {
			align-items: center;
		}
		&__header {
			text-align: center;
			font-size: 28px;
		}
		&__subheader {
			text-align: center;
		}
		&__icons {
			max-width: 425px;
			justify-content: center;
			align-items: center;
			column-gap: 15px;
		}
	}
	.consultation {
		min-height: 590px;
		padding: 60px 0 60px 0;
		&__desc {
			text-align: center;
		}
	}
	.title {
		&_left {
			text-align: center;
		}
	}
	.feed-form {
		width: 100%;
		align-items: center;
	}
	.button {
		&_submit {
			width: 80%;
		}
	}
	.comment {
		&__dscr {
			font-size: 15px;
		}
	}
	.footer {
		&__map {
			iframe {
				height: 365px;
			}
		}
		&__info {
			display: none;
		}
	}
}